<div ng-controller="BoardCtrl" ng-init="init()">
  <h1>Board</h1>

  <h2>Total: {{ calculateTotal() }}</h2>

  <h2>{{ pointsTotal }}</h2>

  <div ng-show="tasksLoaded()" ng-repeat="task in tasks">
    <h2> {{ task.name }}</h2>
    
    <div ng-controller="TaskCtrl" 
         ng-init="loadTaskPoints()"
         ng-show="taskPointsLoaded()">

      <p style="color: white; background: red; font-size: 20pt; padding: 2px;">{{ points }}</p>


      <div ng-show="tagsLoaded()">
        <select ng-model="taskPointTag" ng-options="pointTag.name for pointTag in getPointTags(tags)">
          <option value="">Select a point</option>
        </select>
      </div>

    </div>

    <hr>
  </div>

</div>


