<div ng-controller="SprintCtrl" ng-init="loadSprintProjects()">

  <div ng-show="sprintProjectsLoaded()">

    <div class="list-group">
      <a class="list-group-item"
         ng-repeat="sprintProject in sprintProjects"
         ng-click="setCurrentSprintProject(sprintProject)">
        {{ sprintProject.name }}
      </a>
    </div>

    <h1>{{ currentSprintProject.name }} <small>Currently Selected Sprint</small></h1>

    <div ng-controller="BoardCtrl" ng-init="init()">

      <div class="panel panel-primary">
        <div class="panel-heading">Total Points</div>
        <div class="panel-body">
          <h1>{{ calculateTotal() }}</h1>
        </div>
      </div>

      <table ng-show="tasksLoaded()" class="table">
        <thead>
          <tr>
            <th>Points</th>
            <th>Task</th>
            <th>Actions</th>
          </tr>
        </thead>

        <tbody>
          <tr ng-repeat="task in tasks"
              ng-controller="TaskCtrl"
              ng-init="loadTaskPoints()">
            <td>{{ points }}</td>
            <td>{{ task.name }}</td>
            <td>These will be actions</td>
          </tr>
        </tbody>

      </table>
    </div>
  </div>
</div>

