<div ng-controller="SprintCtrl" ng-init="loadSprintProjects()">

  <div ng-show="sprintProjectsLoaded()">

    <div class="list-group">
      <a class="list-group-item"
         ng-repeat="sprintProject in sprintProjects"
         ng-click="setCurrentSprintProject(sprintProject)">
        {{ sprintProject.name }}
      </a>
    </div>

    <h1>{{ currentSprintProject.name }} <small>Currently Selected Sprint</small></h1>

    <div ng-controller="BoardCtrl" ng-init="init()">

      <div class="panel panel-primary">
        <div class="panel-heading">Total Points</div>
        <div class="panel-body">
          <h1>{{ calculateTotal() }}</h1>
        </div>
      </div>

      <table ng-show="tasksLoaded()" class="table">
        <thead>
          <tr>
            <th>Points</th>
            <th>Task</th>
            <th>Actions</th>
          </tr>
        </thead>

        <tbody>
          <tr ng-repeat="task in tasks"
              ng-controller="TaskCtrl"
              ng-init="loadTaskPoints()">
            <td><span class="label"
                      ng-class="{true: 'label-success', false: 'label-default'}[shouldHighlightPoints(points)]">{{ points }}</span></td>
            <td>{{ task.name }}</td>
            <td>
              <select ng-model="pointTag" 
                      ng-options="pointTag.name for pointTag in allPointTags | orderBy: 'name'">
                <option value="">Select a point</option>
              </select>

              <button type="button" class="btn btn-info btn-xs" ng-click="setPointTag()">set point</button>
              <button type="button" class="btn btn-default btn-xs" ng-click="resetPointTags()">reset points</button>
            </td>
          </tr>
        </tbody>

      </table>
    </div>
  </div>
</div>

