<div ng-controller="SprintCtrl" ng-init="loadSprintProjects()">

  <div ng-show="sprintProjectsLoaded()">

    <div class="list-group">
      <a class="list-group-item"
         ng-repeat="sprintProject in sprintProjects"
         ng-click="setCurrentSprintProject(sprintProject)">
        {{ sprintProject.name }}
      </a>
    </div>

    <h1>{{ currentSprintProject.name }} <small>Currently Selected Sprint</small></h1>

    <div ng-controller="BoardCtrl" ng-init="init()">

      <div class="panel panel-primary">
        <div class="panel-heading">Total Points</div>
        <div class="panel-body">
          <h1>{{ calculateTotal() }}</h1>
        </div>
      </div>

      <table ng-show="tasksLoaded()" class="table">
        <thead>
          <tr>
            <th>Points</th>
            <th>Task</th>
            <th>Actions</th>
          </tr>
        </thead>

        <tbody>
          <tr ng-repeat="task in tasks"
              ng-controller="TaskCtrl"
              ng-init="loadTaskPoints()">
            <td><span ng-hide="isProjectHeader(task)"
                      class="label"
                      ng-class="{true: 'label-success', false: 'label-default'}[shouldHighlightPoints(points)]">{{ points }} points</span></td>
            <td ng-switch on="isProjectHeader(task)">
              <h3 ng-switch-when=true>{{ task.name }}</h3>
              <p ng-switch-when=false>{{ task.name }}</p>
            </td>
            <td>

              <div ng-hide="isProjectHeader(task)"
                 class="btn-toolbar" role="toolbar">
                <div class="btn-group btn-group-sm">
                  <button 
                     class="btn btn-default"
                     ng-repeat="pointTag in allPointTags | orderBy: 'name'"
                     ng-click="setPointTag(pointTag)">
                    {{ pointValue(pointTag) }}
                  </button>
                </div>
                
                <div class="btn-group btn-group-sm">
                  <button type="button" 
                          class="btn btn-default btn-xs" 
                          ng-click="resetPointTags()">
                    <span class="glyphicon glyphicon-trash"></span>
                  </button>                  
                </div>
              </div>

            </td>
          </tr>
        </tbody>

      </table>
    </div>
  </div>
</div>

